@charset "UTF-8";
body {
  overflow-x: hidden;
}

/*custom select*/
.wrap-drop {
  background: #fff;
  cursor: pointer;
  position: relative;
  z-index: 10;
  line-height: 1;
  border-radius: 24px;
  font-size: 15px;
  transition: z-index 0s;
  transition-delay: .5s;
}

.wrap-drop__title {
  padding-left: 10px;
  font-size: 12px;
  color: #333333;
  margin-bottom: 9px;
  letter-spacing: -.8px;
}

.wrap-drop__title ~ .drop {
  border-radius: 24px !important;
}

.wrap-drop__title--large {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
  letter-spacing: normal;
  color: #3d3d3d;
  padding-left: 0;
}

.wrap-drop .selected-el {
  width: 100%;
  position: relative;
  background: #fff;
  z-index: 5;
  height: 48px;
  padding: 0 45px 0 30px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  display: flex;
  border: 2px solid #fff;
  align-items: center;
  transition: border .4s;
}

.wrap-drop .selected-el::after {
  content: '\e90c';
  font-family: 'icomoon';
  color: #224153;
  position: absolute;
  font-size: 18px;
  right: 33px;
  top: 18px;
  transform: rotate(0deg);
  transform-origin: 9px 8px;
  margin-top: -2px;
  transition: transform 0.4s, margin 0.3s, color 0.3s;
}

.wrap-drop .selected-el span, .wrap-drop a {
  transition: color .3s;
}

.wrap-drop .selected-el span {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 500;
  color: #3d3d3d;
}

.wrap-drop .drop {
  background: #fff;
  left: 0;
  top: 20px;
  width: 100%;
  position: absolute;
  max-height: 0;
  overflow-x: hidden;
  border-radius: 0 0 24px 24px;
  opacity: 0;
  transition: padding .5s , max-height .5s , opacity .3s;
  -ms-overflow-style: none;
  margin-right: -14px;
}

.wrap-drop .drop::-webkit-scrollbar {
  display: none;
}

.wrap-drop .drop li {
  margin-bottom: 20px;
  cursor: pointer;
  padding: 0 30px;
  font-weight: 500;
  color: #3d3d3d;
}

.wrap-drop .drop li:last-child {
  padding-bottom: 30px;
  margin-bottom: 0;
}

.wrap-drop .drop li[data-access="0"] {
  margin: 0;
  background: #eeeeee;
  padding-top: 20px;
  color: #969696;
  cursor: default;
}

.wrap-drop .drop li[data-access="0"] a {
  cursor: default;
}

.wrap-drop .drop li a {
  cursor: pointer;
  display: inline-block;
}

.wrap-drop .drop li.selected {
  cursor: default;
}

.wrap-drop .drop li.selected a {
  cursor: default;
  color: #ababab !important;
}

.wrap-drop.active {
  z-index: 80;
  transition-delay: 0s;
}

.wrap-drop.active .selected-el::after {
  transform: rotate(-180deg);
}

.wrap-drop.active .drop {
  box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.12);
  cursor: default;
  z-index: 2;
  opacity: 1;
  max-height: 270px;
  padding: 60px 0 0 0;
}

.wrap-drop.active .wrap-drop__title ~ .drop {
  padding: 80px 0 0 0;
}

.wrap-drop.active .wrap-drop__title.wrap-drop__title--large ~ .drop {
  top: 35px;
}

/*CUSTOM CHECKBOX*/
.container {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 100%;
  padding-left: 35px;
  height: 100%;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  color: #3d3d3d;
  line-height: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container[data-access="0"] {
  height: 48px;
  background: #eeeeee;
  display: flex;
  align-items: center;
  padding-left: 45px;
  border-radius: 24px;
  cursor: default;
  color: #969696;
  letter-spacing: -.2px;
}

.container[data-access="0"] .checkmark {
  top: 14px;
  left: 10px;
  background: #c6c6c6;
  box-shadow: none;
}

.container.content-300px[data-access="1"] {
  width: auto;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container input:checked ~ .checkmark {
  background-color: #75afd1;
  box-shadow: none;
}

.container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #fff;
  transition: background .3s , box-shadow .3s;
}

.container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 50%;
  margin-top: -1px;
  top: 50%;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 1px 1px 0;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: border 0.3s;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

/*tooltip*/
.tooltip {
  font-size: 14px;
  position: absolute;
  color: #3d3d3d;
  width: 206px;
  line-height: 20px;
  opacity: 0;
  letter-spacing: -.2px;
  transition: opacity .4s;
  padding: 30px;
  top: 0;
  left: -100%;
  z-index: -1;
  border-radius: 20px;
}

.tooltip:after {
  content: '';
  position: absolute;
  width: 22px;
  height: 22px;
  left: 50%;
  bottom: calc(100% - 11px);
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transform: translateX(-50%) rotate(45deg);
}

.tooltip:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
}

.tooltip.active {
  opacity: 1;
  z-index: 100;
}

.tooltip .text {
  z-index: 1;
  position: relative;
}

/*ui-pnotify*/
.ui-pnotify {
  position: absolute;
  right: 60px;
  top: calc(100% + 20px);
  width: 310px;
  z-index: 98;
  display: none;
}

.ui-pnotify .ui-pnotify-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 15px 30px 30px 30px;
  border-radius: 20px;
  background-color: rgba(61, 61, 61, 0.8);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}

.ui-pnotify .ui-pnotify-container.brighttheme-error {
  background-color: rgba(236, 67, 55, 0.702);
}

.ui-pnotify .ui-pnotify-container.brighttheme-error .ui-pnotify-closer, .ui-pnotify .ui-pnotify-container.brighttheme-error .ui-pnotify-sticker {
  color: #fff;
}

.ui-pnotify .ui-pnotify-container.brighttheme-success {
  background-color: rgba(102, 209, 126, 0.851);
}

.ui-pnotify .ui-pnotify-container.brighttheme-success .ui-pnotify-closer, .ui-pnotify .ui-pnotify-container.brighttheme-success .ui-pnotify-sticker {
  color: #fff;
}

.ui-pnotify .ui-pnotify-closer, .ui-pnotify .ui-pnotify-sticker {
  cursor: pointer;
  color: #d3d3d3;
  margin-bottom: 15px;
  font-size: 20px;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  outline: none;
  transition: color 0.3s, background 0.3s, transform 0.3s;
}

.ui-pnotify .ui-pnotify-closer > span, .ui-pnotify .ui-pnotify-sticker > span {
  line-height: 40px;
}

.ui-pnotify .ui-pnotify-sticker[title="Stick"] {
  color: #fff;
  transform: rotate(-45deg);
}

.ui-pnotify .ui-pnotify-title {
  display: none;
}

.ui-pnotify .ui-pnotify-text {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.251);
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.ui-pnotify .ui-pnotify-action-bar {
  width: 100%;
  text-align: center;
  line-height: 1;
  margin-top: 25px;
  font-size: 14px;
  font-weight: 700;
}

.ui-pnotify .ui-pnotify-action-bar .action-button {
  height: 44px;
  line-height: 44px;
  text-transform: uppercase;
  padding: 0 20px;
  color: #4bbcff;
  border-radius: 22px;
  cursor: pointer;
  transition: background .3s;
}

/*HEADER*/
/*========================*/
.header {
  position: relative;
  z-index: 80;
}

.header-content {
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  border-radius: 0px 0px 30px 30px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.06);
}

.header-content__img {
  width: 200px;
}

.header-wrapper {
  width: 1110px;
  display: flex;
  justify-content: space-between;
}

.header-list {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  color: #224153;
}

.header-list__item + .header-list__item {
  margin-left: 39px;
}

.header-list__item {
  position: relative;
  transition: color .3s;
  line-height: 1;
  z-index: 2;
}

.header-list__item.current:before {
  content: '';
  display: block;
  width: 100%;
  height: 6px;
  border-radius: 3px;
  position: absolute;
  left: 0;
  bottom: -31px;
  background: #54a2d1;
}

.header-list__item.dropdown {
  padding-right: 25px;
  cursor: pointer;
}

.header-list__item.dropdown:before {
  content: '\e90c';
  font-family: 'icomoon';
  font-size: 17px;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: 9px 8px;
  transform: rotate(0deg);
  margin-top: -2px;
  transition: transform 0.4s, margin 0.3s;
}

.header-list__item.dropdown.active:before {
  transform: rotate(-180deg);
}

.header-list__item.dropdown.active .dropdown__list {
  padding: 78px 29px 30px 29px;
  max-height: 300px;
  opacity: 1;
}

.header-list__item.dropdown .dropdown-button {
  padding-bottom: 29px;
  margin-bottom: -29px;
}

.header-list__item.dropdown .dropdown__list {
  position: absolute;
  width: calc(100% + 58px);
  border-radius: 25px;
  left: -29px;
  top: -20px;
  cursor: default;
  background: #fff;
  z-index: -1;
  box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.12);
  padding: 0 29px 0 29px;
  overflow: hidden;
  max-height: 0px;
  opacity: 0;
  font-size: 14px;
  text-transform: none;
  transition: padding .5s , max-height .5s , opacity .3s;
}

.header-list__item.dropdown .dropdown__item {
  color: #224153;
  transition: color .3s;
  font-weight: 400;
  letter-spacing: -.5px;
  line-height: 1;
  cursor: pointer;
}

.header-list__item.dropdown .dropdown__item + .dropdown__item {
  margin-top: 18px;
}

.header-authentication {
  width: 210px;
  position: relative;
  z-index: 2;
}

.header-authentication.active .header-authentication__dropdown {
  padding: 77px 28px 28px 28px;
  max-height: 500px;
  opacity: 1;
}

.header-authentication.active .header-authentication__content:before {
  transform: translateY(-50%) rotate(-180deg);
}

.header-authentication__content {
  height: 48px;
  position: relative;
  padding-right: 50px;
  display: flex;
  align-items: center;
  border-radius: 24px;
  background: #54a2d1;
  cursor: pointer;
  transition: background .3s;
}

.header-authentication__content:before {
  content: '\e90c';
  position: absolute;
  top: 50%;
  right: 35px;
  transform: translateY(-50%) rotate(0deg);
  font-size: 17px;
  color: #fff;
  font-family: 'icomoon';
  transform-origin: 9px 8px;
  line-height: 1;
  transition: transform 0.4s, margin 0.3s;
}

.header-authentication__img {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  background: #fff 50% 50% no-repeat;
  background-size: cover;
  margin-right: 20px;
}

.header-authentication__name {
  width: calc(100% - 68px);
  font-size: 15px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
}

.header-authentication__dropdown {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 24px;
  background: #fff;
  width: 100%;
  z-index: -1;
  padding: 0 28px 0 28px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.12);
  transition: padding .5s , max-height .5s , opacity .3s;
}

.header-authentication .authentication__item {
  font-size: 14px;
  line-height: 1;
  color: #224153;
  transition: color .3s;
}

.header-authentication .authentication__item + .authentication__item {
  margin-top: 18px;
}

.header-alert {
  width: 200px;
  text-align: right;
  position: relative;
}

.header-alert.unread .header-alert__content:before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background: #ff9e27;
  border-radius: 50%;
  position: absolute;
  right: 4px;
  top: 3px;
}

.header-alert__content {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ecf2f5;
  text-align: center;
  color: #54a2d1;
  font-size: 20px;
  position: relative;
  cursor: pointer;
  transition: color .3s, background .3s;
}

.header-alert i {
  line-height: 50px;
}

.header-alert.active .alert-block {
  transform: scale(1);
  opacity: 1;
  z-index: 10;
}

.header-alert .alert-block {
  position: absolute;
  right: 23px;
  top: calc(100% + 30px);
  background: #fff;
  box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.04);
  border-radius: 20px 0px 20px 20px;
  padding: 40px 0px 0 40px;
  text-align: left;
  width: 600px;
  z-index: -1;
  transform-origin: top right;
  opacity: 0;
  transform: scale(0);
  transition: transform .5s , opacity .3s ,z-index .5s;
}

.header-alert .alert-block:before {
  content: '';
  display: block;
  position: absolute;
  right: -1px;
  bottom: calc(100% - 1px);
  width: 20px;
  height: 20px;
  background: 100% 100% url(../img/angle.svg) no-repeat;
}

.header-alert .alert-block.alert-block--shadow:after {
  content: '';
  background-image: -moz-linear-gradient(90deg, white 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-linear-gradient(90deg, white 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -ms-linear-gradient(90deg, white 0%, rgba(255, 255, 255, 0) 100%);
  width: calc(100% - 30px);
  height: 45px;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 0 0 0px 30px;
}

.header-alert .alert-block__content {
  width: 100%;
  font-weight: 500;
  margin-top: -15px;
  overflow-x: hidden;
  padding-right: 40px;
  max-height: 440px;
}

.header-alert .alert-block__content::-webkit-scrollbar {
  width: 10px;
}

.header-alert .alert-block__content::-webkit-scrollbar-thumb {
  background: #dddddd;
  border-radius: 5px;
}

.header-alert .alert-block .alert-block__card + .alert-block__card {
  border-top: 1px solid #eaeaea;
}

.header-alert .alert-block .new-alert + .alert-block__card:not(.new-alert) {
  border-top: none;
  margin-top: 15px;
  padding-top: 30px;
}

.header-alert .alert-block .new-alert + .alert-block__card:not(.new-alert):before {
  content: '';
  display: block;
  width: 100%;
  position: absolute;
  height: 6px;
  left: 0;
  top: 0;
  border-radius: 3px;
  background: #eaeaea;
}

.header-alert .alert-block__card {
  display: flex;
  align-items: center;
  padding: 15px 0px;
  color: #575757;
  position: relative;
}

.header-alert .alert-block__card.new-alert {
  color: #224153;
  font-weight: 700;
}

.header-alert .alert-block__card.new-alert .text a {
  text-decoration: none;
  color: #54a2d1;
}

.header-alert .alert-block__card .text {
  font-size: 14px;
  line-height: 17px;
  width: 75%;
  padding-right: 15px;
}

.header-alert .alert-block__card .text a {
  font-weight: 700;
  text-decoration: underline;
  transition: color .3s;
}

.header-alert .alert-block__card .time {
  text-align: right;
  font-size: 13px;
  position: relative;
  line-height: 1;
  width: 25%;
}

.header-alert .alert-block__card .time:before {
  content: '';
  display: block;
  width: 1px;
  height: 16px;
  background: #eaeaea;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.ui-sortable-helper {
  left: 20px !important;
}

/*========================*/
/*MAIN*/
/*========================*/
.main {
  padding: 60px 0 100px 0;
  background: #f5f5f5;
}

.slide-element {
  transition: margin .3s , height .3s;
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.slide-element .video-block__iframe {
  z-index: -1 !important;
  pointer-events: none;
}

.slide-element__button {
  width: 24px;
  border-radius: 6px;
  background-color: #dfe8ed;
  position: absolute;
  left: -80px;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  min-height: 40px;
  overflow: hidden;
}

.slide-element__button img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
}

/*constructor*/
.constructor {
  display: flex;
  align-items: flex-start;
}

.constructor-save {
  width: calc(100% - 925px);
}

.constructor-save__button {
  width: 104px;
  height: 48px;
  text-align: center;
  background: #54a2d1;
  border-radius: 24px;
  color: #fff;
  transition: background .3s;
}

.constructor-save__button i {
  font-size: 24px;
  line-height: 48px;
}

.constructor-phone {
  width: 345px;
  min-height: 675px;
  position: relative;
  margin: -28px 135px -26px 0;
  padding: 64px 38px 59px 39px;
}

.constructor-phone__image {
  position: absolute;
  left: 0;
  width: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.constructor-phone__top {
  top: 0;
  height: 360px;
}

.constructor-phone__middle {
  height: calc(100% - 620px);
  top: 360px;
  background-repeat: repeat-y;
}

.constructor-phone__bottom {
  height: 260px;
  bottom: 0;
}

.constructor-phone__content {
  border-radius: 22px;
  position: relative;
  z-index: 1;
  background: #f5f5f5;
}

.constructor-phone__content .page-wrapper {
  min-height: 552px;
  width: 100%;
  padding: 35px 20px 30px 20px;
}

.constructor-styles {
  width: 445px;
}

.constructor-styles__link {
  margin-bottom: 40px;
  position: relative;
}

.constructor-styles__link .copy-button {
  position: absolute;
  font-size: 17px;
  z-index: 1;
  color: #54a2d1;
  right: 2px;
  top: 2px;
  width: 44px;
  height: 44px;
  background: #ecf2f5;
  border-radius: 50%;
  transition: background .3s, color .3s;
}

.constructor-styles__link .copy-button i {
  line-height: 44px;
}

.constructor-styles__link .form-block__input {
  cursor: pointer;
  transition: color .3s;
}

.constructor-styles__content.active .style-tab__styles {
  display: flex !important;
}

.constructor-styles__content.active .style-tab__add {
  display: none;
}

.constructor-styles__content .switcher {
  width: 100%;
  position: relative;
  z-index: 1;
}

.constructor-styles__content .switcher__button {
  width: inherit;
  height: 48px;
  border-radius: 24px;
}

.constructor-styles__content .switcher__button .label-bg:before {
  border-radius: 24px;
}

.constructor-styles__content .switcher__button .switcher-text {
  width: 50%;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  outline: none;
  line-height: 48px;
}

.constructor .style-tab {
  background: #fff;
  border-radius: 24px;
  margin: -48px 0 0 0;
  padding: 75px 30px 10px 0px;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transform-origin: top;
}

.constructor .style-tab.style-tab__styles {
  display: none;
}

.constructor .style-tab.style-tab__styles .style-tab__block {
  background: #f1f1f1;
}

.constructor .style-tab.style-tab__styles .style-tab__block .title {
  color: #3d3d3d;
}

.constructor .style-tab__block {
  width: calc(33.33% - 30px);
  border-radius: 20px;
  border: 2px solid #fff;
  background: #ecf2f5;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  height: 115px;
  cursor: pointer;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 30px;
  transition: border .3s , color .3s;
}

.constructor .style-tab__block[data-access="0"] {
  position: relative;
}

.constructor .style-tab__block[data-access="0"]:after {
  content: '';
  display: block;
  width: 25px;
  height: 12px;
  background-image: url(../img/self.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 50% 50%;
  position: absolute;
  right: 8px;
  top: 8px;
}

.constructor .style-tab__block.js-block-radio {
  position: relative;
}

.constructor .style-tab__block.js-block-radio:before {
  font-family: 'icomoon';
  content: "\e915";
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #75afd1;
  color: #fff;
  font-size: 12px;
  text-align: center;
  line-height: 18px;
  border: 2px solid #fff;
  position: absolute;
  top: 5px;
  left: 5px;
  opacity: 0;
  transition: opacity .3s;
}

.constructor .style-tab__block.js-block-radio.active {
  border: 2px solid #54a2d1;
}

.constructor .style-tab__block.js-block-radio.active:before {
  opacity: 1;
}

.constructor .style-tab__block img {
  max-width: 55px;
  margin: 0 auto 15px;
  max-height: 40px;
}

.constructor .style-tab__block .title {
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  line-height: 1;
}

.constructor .style-tab__block .button {
  background-color: #3d3d3d;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  display: block;
  line-height: 1;
  width: 85px;
  height: 30px;
  margin: 20px auto 0;
  border-radius: 4px;
  line-height: 30px;
}

.constructor .style-tab__block.disabled {
  background: #f1f1f1;
  box-shadow: none;
  border: none;
  cursor: default;
  color: #3d3d3d;
}

.constructor .style-tab__title {
  width: 100%;
  padding: 20px 0 0 30px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 1;
}

/*info-button*/
.info-button {
  width: 20px;
  text-align: center;
  line-height: 20px;
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.13);
  border-radius: 50%;
  cursor: pointer;
  font-size: 14px;
  background: #fff;
  font-weight: 600;
  color: #3d3d3d;
  transition: background .3s, color .3s;
  user-select: none;
}

/*modal*/
.constructor-modal {
  /*modal avatar*/
  /*content width*/
  /*pro modal*/
  /*text-style block*/
  /*text-alignt block*/
  /*social-list*/
  /*gallery*/
}

.constructor-modal.changing .remove-button {
  display: block;
}

.constructor-modal.changing .constructor-modal__title .title-status:before {
  content: ' - редактирование';
}

.constructor-modal [data-access="0"] {
  position: relative;
}

.constructor-modal [data-access="0"]:after {
  content: '';
  display: block;
  width: 48px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  background-image: url(../img/self.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 50% 50%;
  position: absolute;
  right: 0;
  top: 0;
}

.constructor-modal__container {
  margin: auto;
  background: #fff;
  width: 720px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 40px 60px;
  position: relative;
}

.constructor-modal__container .standart-btn {
  margin-top: 40px;
}

.constructor-modal__title {
  font-size: 20px;
  font-weight: 600;
  min-height: 60px;
  padding: 0 0 20px 0;
  margin: 0 0 40px  0;
  width: 100%;
  position: relative;
}

.constructor-modal__title:before {
  content: '';
  display: block;
  width: calc(100% + 120px);
  height: 2px;
  position: absolute;
  left: -60px;
  bottom: 0;
  background: #f1f1f1;
}

.constructor-modal__title .title-status:before {
  content: ' - добавление';
}

.constructor-modal .modal-templates__content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-bottom: 42px;
  border-bottom: 2px solid #f1f1f1;
}

.constructor-modal .modal-templates__content.modal-pro__access {
  border-bottom: none;
  padding-bottom: 0;
}

.constructor-modal .js-uploader, .constructor-modal .file-uploader {
  display: inline-block;
  width: auto;
  height: auto;
}

.constructor-modal .js-uploader {
  position: relative;
}

.constructor-modal .js-uploader .remove-button {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 29px;
  height: 29px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  z-index: 10;
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
  transition: color .3s;
}

.constructor-modal .js-uploader .remove-button i {
  line-height: 29px;
}

.constructor-modal .js-uploader.active .remove-button {
  display: block;
}

.constructor-modal .js-uploader.active .template-personal__bg {
  cursor: default;
}

.constructor-modal .template-personal {
  width: 30%;
  padding-right: 60px;
  display: block;
}

.constructor-modal .template-personal input[type="file"] {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  opacity: 0;
}

.constructor-modal .template-personal__bg {
  width: 120px;
  height: 120px;
  background: #fff;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  background: 50% 50% no-repeat;
  overflow: hidden;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: border .6s;
}

.constructor-modal .template-personal__name {
  color: #333;
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  margin-top: 20px;
}

.constructor-modal .template-personal__name.disabled {
  display: none;
}

.constructor-modal .template-content {
  width: 70%;
}

.constructor-modal .template-content__container + .template-content__container {
  margin-top: 30px;
}

.constructor-modal .template-content__container.align-bottom + .template-content__container.align-bottom {
  margin-top: 40px;
}

.constructor-modal .template-content__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.constructor-modal .template-content__container.space-normal {
  justify-content: initial;
  margin-left: -30px;
}

.constructor-modal .template-content__container.space-normal > *[class*="content-"] {
  margin-left: 30px;
}

.constructor-modal .template-content__container.space-normal .margin-left-40px {
  margin-left: 40px;
}

.constructor-modal .template-content__container.align-bottom {
  align-items: flex-end;
}

.constructor-modal .content-114px {
  width: 114px;
}

.constructor-modal .content-146px {
  width: 146px;
}

.constructor-modal .content-276px {
  width: 276px;
}

.constructor-modal .content-280px {
  width: 280px;
}

.constructor-modal .content-290px {
  width: 290px;
}

.constructor-modal .content-300px {
  width: 300px;
}

.constructor-modal .content-100 {
  width: 100%;
}

.constructor-modal .pro-access__title {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #00658c;
  line-height: 24px;
  width: 100%;
  margin-bottom: 30px;
}

.constructor-modal .price-card {
  width: 410px;
  margin: auto;
  background: transparent;
  box-shadow: none;
  padding-bottom: 0;
}

.constructor-modal .price-card .standart-btn {
  width: 280px;
  margin-top: 0;
}

.constructor-modal .price-card__flag {
  border-radius: 40px 0px 40px 40px;
}

.constructor-modal .price-card__top {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  border-radius: 40px;
  width: calc(100% + 80px);
  padding-right: 40px;
}

.constructor-modal .text-style__block {
  display: inline-flex;
  align-items: center;
}

.constructor-modal .text-style__block[data-access="0"] .text-style__circle {
  cursor: default;
  border: 2px solid #eaeaea;
  color: #9d9d9d;
}

.constructor-modal .text-style__block.text-style__block--radius {
  border-radius: 24px;
  justify-content: space-between;
  margin-top: 0px;
  margin-bottom: 0px;
}

.constructor-modal .text-style__block.text-style__block--radius[data-access="0"] {
  background: #eeeeee;
}

.constructor-modal .text-style__block.text-style__block--radius .text-style__circle + .text-style__circle {
  margin-left: 0px;
}

.constructor-modal .text-style__block.content-250px {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 250px;
}

.constructor-modal .text-style__block .text-style__circle + .text-style__circle {
  margin-left: 20px;
}

.constructor-modal .text-style__block .text-style__circle {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  line-height: 44px;
  text-align: center;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
  color: #3d3d3d;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  border: 2px solid #fff;
  transition: border .3s , color .3s;
}

.constructor-modal .text-style__block .text-style__circle.active {
  color: #fff;
  background: #54a2d1;
  border: 2px solid #54a2d1;
}

.constructor-modal .text-style__block .text-style__circle i {
  font-weight: 500;
  font-style: italic;
}

.constructor-modal .align-block {
  height: 48px;
  display: flex;
  align-items: center;
  border-radius: 24px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
}

.constructor-modal .align-block__content {
  width: 33.33%;
  text-align: center;
  height: 100%;
  font-size: 24px;
  cursor: pointer;
  background: #fff;
  color: #575757;
  transition: box-shadow .3s,color .3s , background .3s , border .3s;
  border: 2px solid #fff;
}

.constructor-modal .align-block__content.active {
  background: #54a2d1;
  color: #fff;
  border: 2px solid #54a2d1;
}

.constructor-modal .align-block__content i {
  line-height: 44px;
}

.constructor-modal .align-block__left {
  border-radius: 24px 0 0 24px;
}

.constructor-modal .align-block__center {
  border: none;
  border-radius: 0;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
}

.constructor-modal .align-block__center.active {
  border-top: none;
  border-bottom: none;
}

.constructor-modal .align-block__center i {
  line-height: 48px;
}

.constructor-modal .align-block__right {
  border-radius: 0 24px 24px 0;
}

.constructor-modal .form-block__messenger {
  display: none;
}

.constructor-modal .social-list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  position: relative;
  z-index: 1;
}

.constructor-modal .social-list:before {
  content: '';
  display: block;
  width: 100%;
  height: 6px;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 3px;
  background-color: #ecf2f5;
  z-index: -1;
}

.constructor-modal .social-list__item {
  width: 80px;
  height: 54px;
  text-align: center;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  z-index: 1;
}

.constructor-modal .social-list__item:before {
  content: '';
  display: block;
  width: 100%;
  height: 6px;
  border-radius: 3px;
  background-color: #dfe8ed;
  transition: background .3s;
  position: absolute;
  left: 0;
  bottom: 0;
}

.constructor-modal .social-list__item:not(.active) i:before {
  color: #6f91a5;
  background: transparent;
  -webkit-text-fill-color: unset;
}

.constructor-modal .social-list__item.active:before {
  background: #54a2d1;
}

.constructor-modal .social-list__item[data-access="0"] {
  background-color: rgba(87, 87, 87, 0.102);
  cursor: default;
}

.constructor-modal .social-list__item[data-access="0"]:before {
  display: none;
}

.constructor-modal .social-list__item i {
  line-height: 54px;
  font-size: 30px;
}

.constructor-modal .social-list__item i:before {
  transition: color .3s;
}

.constructor-modal .standart-btn--blue {
  width: 250px;
  height: 48px;
}

.constructor-modal .resolution__switcher {
  margin: 0 20px 0px 30px;
  align-self: center;
}

.constructor-modal .resolution__switcher .switcher__button {
  width: 204px;
  height: 48px;
  border-radius: 24px;
}

.constructor-modal .resolution__switcher .switcher__button .label-bg:before {
  border-radius: 24px;
}

.constructor-modal .resolution__switcher .switcher-text {
  line-height: 48px;
  font-size: 15px;
  font-weight: 500;
  font-family: 'GothamPro', sans-serif;
}

.constructor-modal .gallery-block {
  margin: 30px 0 40px 0;
}

.constructor-modal .gallery-block.gallery-block--16 .gallery-card .template-personal__bg {
  height: 62px;
}

.constructor-modal .gallery-block.gallery-block--1 .gallery-card .template-personal__bg {
  height: 100px;
}

.constructor-modal .gallery-block .template-personal {
  display: flex;
  align-items: center;
  padding-right: 0;
  justify-content: space-between;
}

.constructor-modal .gallery-card .template-personal__bg {
  width: 100px;
  border-radius: 4px;
  background-size: cover;
  margin-bottom: 0;
}

.constructor-modal .slider-change {
  width: auto;
  margin-left: 30px;
}

.constructor-modal .time-title {
  margin-left: 20px;
  font-size: 15px;
  font-weight: 500;
  color: #3d3d3d;
}

.constructor-modal .label-tooltip {
  position: relative;
}

.constructor-modal .label-tooltip .form-block__input {
  padding-right: 60px;
}

.constructor-modal .label-tooltip .info-button {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.constructor-modal .remove-button {
  display: none;
  background: #fff;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
  height: 48px;
  width: 80px;
  text-align: center;
  border-radius: 24px;
  color: #ff5447;
  transition: background .3s , color .3s;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  left: 60px;
  bottom: 40px;
}

.constructor-modal .remove-button i {
  line-height: 48px;
}

.gallery-card__stock {
  display: none;
}

.modal-templates {
  display: none;
  opacity: 0;
  z-index: -1;
  position: absolute;
  left: -100%;
  height: 0;
}

.modal-templates .modal-templates__content {
  display: none;
  opacity: 0;
  z-index: -1;
  position: absolute;
  left: -100%;
  height: 0;
}

/*pagename-plans*/
.plans-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 45px;
}

.plans-title .section-title {
  width: 50%;
  margin: 0;
}

.plans-content {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-bottom: 100px;
}

.plans-content .price-card {
  padding: 0 60px 110px 60px;
  position: relative;
  width: calc(50% - 35px);
}

.plans-content .price-card:before {
  content: "\e915";
  font-family: 'icomoon';
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: #fff;
  font-size: 15px;
  border-radius: 50%;
  background-color: #6fe48a;
  position: absolute;
  right: 20px;
  top: 20px;
}

.plans-content .price-card .standart-btn {
  position: absolute;
  left: 50%;
  width: 330px;
  transform: translateX(-50%);
  bottom: 60px;
}

.plans-content .price-card__top {
  width: calc(100% + 60px);
  margin: 0 0 30px -60px;
  padding-right: 15px;
}

.plans-content .price-card__top .switcher__button {
  width: 155px;
}

.plans-content .price-card__flag {
  width: 260px;
}

.plans-content .price-card.disabled:before {
  display: none;
}

.plans-content .price-card.price-card__free .standart-btn {
  color: #224153;
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
}

.plans-content .price-card.price-card__free .standart-btn:before {
  background-image: -moz-linear-gradient(0deg, #ffc9c5 0%, #ffe1be 100%);
  background-image: -webkit-linear-gradient(0deg, #ffc9c5 0%, #ffe1be 100%);
  background-image: -ms-linear-gradient(0deg, #ffc9c5 0%, #ffe1be 100%);
  width: 100%;
  left: 0;
}

.plans-content .price-card.price-card__free .standart-btn > span:before {
  content: 'Тариф уже активен';
}

.plans-content .price-card.price-card__free.disabled .standart-btn > span:before {
  content: 'Доступно после закрытия self тарифа';
}

.plans-content .price-card.price-card__self.discount .switcher {
  position: relative;
}

.plans-content .price-card.price-card__self.discount .switcher:before {
  content: "-" attr(data-discount) "%";
  font-family: 'GothamPro';
  position: absolute;
  right: -15px;
  top: -8px;
  height: 20px;
  line-height: 21px;
  border-radius: 10px;
  text-align: center;
  background: #fff;
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.1);
  z-index: 3;
  color: #ff4c3e;
  font-size: 12px;
  font-weight: 700;
  padding: 0 5px;
}

.plans-content .price-card.price-card__self .standart-btn > span:before {
  content: 'Продлить тариф';
}

.plans-content .price-card.price-card__self.disabled .standart-btn > span:before {
  content: 'Активировать тариф';
}

.questions {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 -30px -30px;
}

.questions .section-title {
  margin-bottom: 60px;
  margin-left: 30px;
  width: 100%;
}

.questions-block {
  display: flex;
  width: 100%;
  margin-left: 30px;
  width: calc(50% - 30px);
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 30px;
  transition: z-index .6s;
}

.questions-block.active {
  z-index: 10;
}

.questions-block.active .questions-block__title {
  color: #fff;
}

.questions-block.active .questions-block__title:before {
  width: calc(100% + 4px);
  left: -2px;
  opacity: 1;
}

.questions-block.active .questions-block__title:after {
  transform: rotate(-180deg);
}

.questions-block.active .questions-block__dropdown {
  padding: 110px 40px 30px 40px;
  max-height: 500px;
  opacity: 1;
}

.questions-block__title {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 0 150px 0 40px;
  background: #fff;
  cursor: pointer;
  border: 2px solid #fff;
  position: relative;
  font-size: 16px;
  font-weight: 700;
  color: #1d9ae5;
  line-height: 20px;
  z-index: 1;
  transition: color .3s,border .3s;
}

.questions-block__title:before {
  content: '';
  display: block;
  width: 0%;
  height: calc(100% + 4px);
  position: absolute;
  background: #54a2d1;
  border-radius: inherit;
  right: -2px;
  top: -2px;
  opacity: 0;
  transition: .3s;
}

.questions-block__title:after {
  content: '\e912';
  font-family: 'icomoon';
  font-size: 17px;
  position: absolute;
  right: 33px;
  top: 30px;
  transform-origin: 9px 9px;
  transform: rotate(0deg);
  margin-top: -2px;
  transition: transform 0.4s, margin 0.3s;
}

.questions-block__title .text {
  position: relative;
  z-index: 1;
}

.questions-block__dropdown {
  position: absolute;
  left: 0;
  top: 0;
  background: #fff;
  border-radius: 20px;
  padding: 0px 40px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  color: #3d3d3d;
  line-height: 20px;
  opacity: 0;
  font-size: 14px;
  overflow: hidden;
  max-height: 0;
  transition: padding .5s , max-height .5s , opacity .3s;
}

.countdown {
  display: flex;
  align-items: center;
  padding: 0 30px;
  border-radius: 25px;
  height: 50px;
  background: #fff;
}

.countdown__title {
  margin-right: 10px;
  font-size: 14px;
  text-transform: uppercase;
}

.countdown__content {
  color: #f78f10;
  font-weight: 700;
  font-size: 12px;
  text-transform: lowercase;
}

/*.pagename-settings*/
.settings-block__management {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.settings-block__management .switcher {
  width: 730px;
}

.settings-block__management .switcher__button {
  width: 100%;
  height: 60px;
  border-radius: 30px;
}

.settings-block__management .switcher-text {
  line-height: 60px;
  font-size: 17px;
  font-weight: 700;
}

.settings-block__management .exit-link {
  font-size: 15px;
  font-weight: 700;
  color: #575757;
  transition: color .3s;
}

.settings-fields {
  padding-bottom: 40px;
}

.settings-fields .fields-content--flex {
  display: flex;
  align-items: center;
}

.settings-fields__title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 60px;
}

.settings-fields__title a {
  color: #1d9ae5;
  line-height: 1.1;
  border-bottom: 1px solid #1d9ae5;
}

.settings-fields__block + .settings-fields__block {
  margin-top: 40px;
}

.settings-fields__block {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.settings-fields__block[data-access="0"] {
  pointer-events: none;
}

.settings-fields__block[data-access="0"] .form-block__label {
  pointer-events: auto;
}

.settings-fields__block[data-access="0"] .form-block__label:after {
  content: '';
  display: block;
  width: 48px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  background-image: url(../img/self.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 50% 50%;
  position: absolute;
  right: 0;
  top: 0;
}

.settings-fields__block[data-access="0"] .form-block__label.disabled .input-background {
  background: #eeeeee;
}

.settings-fields .resending-button {
  height: 48px;
  border-radius: 24px;
  background: #fff;
  width: 255px;
  margin-left: 30px;
  padding: 0 40px 0 30px;
  position: relative;
  text-align: left;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
  transition: background .3s;
  color: #ff5447;
}

.settings-fields .resending-button:hover {
  background: #1d9ae5;
  color: #fff;
}

.settings-fields .resending-button:hover .text:before {
  content: 'Отправить повторно';
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
}

.settings-fields .resending-button .text:before {
  content: 'Не подтвержден!';
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -.5px;
}

.settings-fields .resending-button .info-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}

.settings-fields .form-block__input {
  padding-right: 50px;
}

.settings-fields .form-block__label + .form-block__label {
  margin-top: 40px;
}

.settings-fields .form-block__label {
  width: 445px;
}

.settings-fields .form-block__label.disabled.password-confirmation {
  display: none;
}

.settings-fields .form-block__label .title {
  font-size: 12px;
  color: #333;
  position: absolute;
  left: 20px;
  top: -20px;
  line-height: 1;
}

.settings-fields .form-block__label .info {
  position: absolute;
  left: calc(100% + 29px);
  top: 50%;
  transform: translateY(-50%);
  left: 1;
  width: 100%;
  color: #3d3d3d;
  font-size: 12px;
  font-weight: 400;
}

.settings-fields .form-block__label .show-password {
  pointer-events: auto;
  position: absolute;
  right: 2px;
  top: 2px;
  height: calc(100% - 4px);
  width: 44px;
  border-radius: 50%;
  background: #ecf2f5;
  color: #54a2d1;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  transition: color .3s , background .3s;
}

.settings-fields .form-block__label .show-password i {
  line-height: 44px;
}

.settings-fields .form-block__label .show-password.active {
  color: #fff;
  background: #54a2d1;
}

.settings-fields .button-swap {
  display: flex;
  align-items: center;
}

.settings-fields .button-swap__content {
  align-items: center;
  display: none;
}

.settings-fields .button-swap.change .button-swap__content {
  display: flex;
}

.settings-fields .button-swap.change .js-fields-change {
  display: none;
}

.settings-fields .button-swap.change .js-fields-clear {
  color: #ff5447;
}

.fields-change__btn + .fields-change__btn {
  margin-left: 30px;
}

.fields-change__btn {
  width: 160px;
  height: 48px;
  font-size: 14px;
  font-weight: 600;
  color: #174e6a;
  text-transform: uppercase;
  pointer-events: auto;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
  transition: color .3s , background .3s;
}

.remove-account {
  border-top: 1px solid #d3d3d3;
  padding-top: 33px;
  text-align: right;
}

.remove-account .link {
  line-height: 1.1;
  font-size: 15px;
  font-weight: 500;
  color: #575757;
  border-bottom: 1px solid #575757;
  transition: color .3s , border .3s;
}

/*pagename-faq*/
.faq-aside {
  width: 23%;
  border-radius: 20px;
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.1);
  background: #fff;
  padding: 7px 0 7px 30px;
  overflow: hidden;
}

.faq-aside__list {
  padding-right: 30px;
  font-size: 15px;
  font-weight: 500;
  position: relative;
}

.faq-aside__list:after {
  content: '';
  display: block;
  width: 6px;
  height: calc(100% - 35px);
  position: absolute;
  right: 0;
  top: 14px;
  background: #dfe8ed;
  border-radius: 6px 0 0 6px;
}

.faq-aside__list .aside-hover__arrow {
  width: 6px;
  border-radius: 6px 0 0 6px;
  height: 34px;
  background: #1d9ae5;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  transition: right .3s;
  z-index: 1;
  transition: top .3s;
}

.faq-aside__item + .faq-aside__item {
  border-top: 1px solid #eaeaea;
}

.faq-aside__item {
  padding: 18px 0;
  cursor: pointer;
}

.faq-aside__item.active .text {
  color: #54a2d1;
}

.faq-aside__item.active .text:after {
  right: -30px;
  z-index: 2;
}

.faq-aside__item .text {
  position: relative;
  z-index: 1;
  line-height: 16px;
  width: 100%;
  transition: color .3s;
  z-index: 2;
}

.faq-aside__item .text:after {
  content: '';
  display: block;
  width: 6px;
  border-radius: 6px 0 0 6px;
  height: 34px;
  background: #54a2d1;
  position: absolute;
  right: -40px;
  top: 50%;
  transform: translateY(-50%);
  transition: right .3s;
}

.faq-content {
  width: 48.65%;
  margin-left: 30px;
  display: none;
}

.faq-content.active {
  display: block;
}

.faq-content .questions-block {
  width: 100%;
  margin: 0;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.faq-content .questions-block + .questions-block {
  margin-top: 30px;
}

/*========================*/
