@media (min-width: 1025px) {
  .header-list__item:hover, .authentication__item:hover, .wrap-drop .drop li:not([data-access="0"]) a:hover {
    color: #54a2d1;
  }
  .wrap-drop .selected-el:hover {
    border: 2px solid #1d9ae5;
  }
  .wrap-drop .selected-el:hover span {
    color: #1d9ae5;
  }
  .wrap-drop .selected-el:hover:after {
    color: #1d9ae5;
  }
  .dropdown__item:hover {
    color: #54a2d1 !important;
  }
  .header-authentication:hover .header-authentication__content {
    background: #1d9ae5;
  }
  .header-alert__content:hover {
    background: #f78f10;
    color: #fff;
  }
  .constructor-save__button:hover {
    background: #1d9ae5;
  }
  .js-uploader:not(.active) .template-personal__bg:hover {
    background-image: url(../img/photo-hover.png) !important;
    background: 33px 18px no-repeat;
    animation-name: opacity;
    animation-duration: .6s;
  }
  .js-uploader:not(.active) .file-uploader.gallery-card .template-personal__bg:hover {
    background-image: url(../img/gallery-hover__bg.png) !important;
    background: 30px 5px no-repeat;
  }
  .js-uploader.active .template-personal__bg:hover {
    border: 2px solid #fff;
  }
  .template-personal__bg:hover {
    border: 2px solid #1d9ae5;
  }
  @keyframes opacity {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .container:not([data-access="0"]):hover input ~ .checkmark {
    background: #ecf2f5;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
    border: 2px solid #1d9ae5;
  }
  .container:not([data-access="0"]):hover input ~ .checkmark:after {
    border: solid #1d9ae5;
    border-width: 0 1px 1px 0;
  }
  .text-style__block:not([data-access="0"]) .text-style__circle:not(.active):hover {
    border: 2px solid #1d9ae5;
    color: #1d9ae5;
  }
  .align-block__left:not(.active):hover, .align-block__right:not(.active):hover {
    color: #1d9ae5;
    border: 2px solid #1d9ae5;
  }
  .align-block__center:not(.active):hover {
    color: #1d9ae5;
    background: #ecf2f5;
  }
  .social-list__item:not([data-access="0"]):hover:before {
    background: #1d9ae5;
  }
  .social-list__item.active:hover:before {
    background: #54a2d1;
  }
  .info-button:hover {
    background: #1d9ae5;
    color: #fff;
  }
  .questions-block__title:hover {
    border: 2px solid #1d9ae5;
  }
  .remove-button:hover {
    background: #ff5447;
    color: #fff;
  }
  .copy-button:hover {
    color: #fff;
    background: #1d9ae5;
  }
  .constructor-styles__link .form-block__input:hover, .exit-link:hover {
    color: #1d9ae5;
  }
  .alert-block__card .text a:hover {
    color: #1d9ae5 !important;
  }
  .style-tab__block:hover {
    border: 2px solid #1d9ae5;
    color: #1d9ae5;
  }
  .ui-pnotify-sticker:hover {
    color: #1d9ae5 !important;
  }
  .ui-pnotify-closer:hover, .ui-pnotify-sticker:hover {
    background: #eaeaea;
  }
  .ui-pnotify-closer:hover {
    color: #ff5447 !important;
  }
  .remove-account .link:hover {
    color: #ff5447;
    border-bottom: 1px solid #ff5447;
  }
  .faq-aside__item:not(.active):hover .text {
    color: #1d9ae5;
  }
  .fields-change__btn:hover {
    color: #fff;
    background: #1d9ae5;
  }
  .show-password:not(.active):hover {
    color: #fff;
    background: #1d9ae5;
  }
  .js-fields-clear:hover {
    color: #fff !important;
    background: #ff5447;
  }
}

@media (max-width: 1679px) {
  .header-wrapper {
    width: calc(100% - 400px);
  }
}

@media (max-width: 1139px) {
  .wrapper {
    max-width: 720px;
    padding: 0 15px;
  }
  .aside-hover__arrow {
    display: none;
  }
  .plans-content .price-card {
    width: 330px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 108px;
  }
  .plans-content .price-card__top {
    width: calc(100% + 30px);
    margin: 0 0 10px -30px;
  }
  .plans-content .price-card__list {
    margin-bottom: 0;
  }
  .plans-content .price-card__flag {
    padding: 0 10px 0 30px;
    width: 155px;
    font-size: 26px;
  }
  .plans-content .price-card__flag sup {
    font-size: 14px;
  }
  .plans-content .price-card .standart-btn {
    bottom: 30px;
  }
  .questions-block {
    width: 100%;
  }
  .questions-block__title {
    padding-right: 50px;
  }
}
