/*header*/
.header{
  position: relative;
  z-index: 10;
  &-content{
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.06);
    background: #fff;
    border-radius: 0px 0px 30px 30px;
    height: 70px;
    .wrapper{
      display: flex;
      align-items: center;
      height: 100%;
    }
    &__img{
      width: 30%;
    }
  }
  &-list{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    &__item+&__item{
      margin-left: 40px;
    }
    &__item{
      color: #224153;
      transition: color .3s;
    }
  }
  &-authentication{
    width: 30%;
    display: flex;
    justify-content: flex-end;
    &__link{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 250px;
      height: 44px;
      border-radius: 22px;
      background: #1d9ae5;
      color: #fff;
      transition: color .3s;
      font-size: 13px;
      font-weight: 700;
      text-transform: uppercase;
      transition: background .3s;
      i{
        font-size: 22px;
        margin-right: 13px;
      }
      &>*{
        vertical-align: middle;
      }
    }
  }
}
/*phone-block*/
.phone-block{
  width: 407px;
  position: relative;
  transform: translateX( 0px);
  transition: transform .5s , width .5s;
  &.animation{
    transform: translateX( 150px);
    .line-block{
      height: 0!important;
    }
  }
  .line-block{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    transition: height .3s;
    img{
      width: 100%;
      height: 100%;
    }
    &.line-frst{
      width: 269px;
      height: 269px;
      top: 143px;
      transition-delay: .3s;
      img{
        height: 269px;
      }
    }
    &.line-scnd{
      width: 315px;
      height: 315px;
      bottom:115px;
      transform: translateX(-50%) rotate(180deg);
      transition-delay: .6s;
      img{
        height: 315px;
      }
    }
    &.line-thrd{
      width: 364px;
      height: 364px;
      top: 96px;
      transition-delay: .9s;
      img{
        height: 364px;
      }
    }
    &.line-frth{
      width: 410px;
      height: 410px;
      bottom: 67px;
      transform: translateX(-50%) rotate(180deg);
      transition-delay: 1.2s;
      img{
        height: 410px;
      }
    }
  }
  &__holder{
    margin: auto;
    position: relative;
    background: 50% 50% no-repeat;
    background-size: contain;
    height: 550px;
    width: 280px;
    .hint{
      position: relative;
      opacity: 0;
      z-index: -1;
      transition: opacity .5s;
      &-block{
        position: absolute;
        width: 325px;
        height: 97px;
        background: #fff;
        border-radius: 20px;
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.02);
        padding: 0 20px;
        display: flex;
        align-items: center;
        transform: scale(0);
        cursor: pointer;
        color: #3d3d3d;
        opacity: 0;
        transition: color .3s , opacity .3s , transform .3s;
        &:before{
          content:'';
          display: block;
          width: 30px;
          height: 2px;
          background-color: #a2d3eb;
          position: absolute;
          top: 50%;
          cursor: default;
          pointer-events: none;
          transform: translateY(-50%);
          z-index: -1;
        }
        .num{
          font-family: 'GothamPro', sans-serif;
          font-weight: 200;
          font-size: 53px;
          width: 38px;
          text-align: center;
          line-height: 1;
          margin-right: 20px;
        }
        .text{
          width: calc(100% - 58px);
          font-size: 15px;
          font-weight: 500;
          line-height: 20px;
        }
        &__frst{
          top: 85px;
          right: calc(100% + 90px);
          &:before{
            left: 100%;
          }
        }
        &__scnd{
          top: 185px;
          left: calc(100% + 90px);
          &:before{
            right: 100%;
          }
        }
        &__thrd{
          top: 285px;
          right: calc(100% + 90px);
          &:before{
            left: 100%;
          }
        }
        &__frth{
          top: 385px;
          left: calc(100% + 90px);
          &:before{
            right: 100%;
          }
        }
      }
    }
  }
  &__content{
    height: calc(100% - 116px);
    overflow-x: hidden;
    width: calc(100% - 68px);
    position: absolute;
    top: 60px;
    left: 34px;
    border-radius: 16px;
    -ms-overflow-style: none;
    margin-right: -14px;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}


/*design-block*/
.design-block{
  background: #f5f5f5;
  border-radius: 30px;
  display: flex;
  align-items: flex-start;
  height: 200px;
  &__img{
    background: #fff;
    border: 2px solid #1d9ae5;
    border-radius: 20px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    img{
      width: 48px;
      height: 48px;
    }
  }
  &__text{
    width: calc(100% - 130px);
    .title{
      font-weight: 700;
      color: #1d9ae5;
      text-transform: uppercase;
      line-height: 1;
      padding-bottom: 15px;
      margin-bottom: 14px;
      position: relative;
      &:before{
        content:'';
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 40px;
        height: 1px;
        background: #ababab;
      }
    }
    .text{
      font-size: 15px;
      line-height: 20px;
    }
  }
  &__frst{
    width: 50%;
    padding: 50px 30px 50px 75px;
    display: flex;
    align-items: center;
    max-height: 100%;
  }
  &__scnd{
    width: 50%;
    padding: 50px 84px;
    background: #1d9ae5;
    border-radius: 30px;
    max-height: 100%;
    .title{
      font-size: 18px;
      font-weight: 600;
      line-height: 20px;
      color: #fff;
      margin-bottom: 17px;
    }
  }
}
/*info-block*/
.info-block{
  text-align: center;
  color: #1d9ae5;
  font-weight: 700;
  .num{
    text-shadow: 0px 0px 13.5px rgba(0, 0, 0, 0.1);
    font-size: 60px;
    line-height: 1;
    margin-bottom: 20px;
  }
  .text{
    font-size: 20px;
    line-height: 24px;
    text-transform: lowercase;
    .orange-text{
      color: #f78f10;
    }
  }
}
/*special-block*/
.special-block{
  margin-top: 38px;
  display: flex;
  align-items: center;
  &__card+&__card{
    margin-left: 30px;
  }
  &__card{
    width: calc(16.66% - 25px);
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    border-radius: 20px;
    img{
      max-width: 120px;
      max-height: 60px;
    }
  }
}
/*form-block*/
.form-block{
  border: 2px solid #fff;
  border-radius: 40px;
  padding: 60px;
  q{
    color: #ee4f43;
  }
  &__title{
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 15px;
    text-shadow: 0px 4px 25px rgba(55, 26, 24, 0.25);
  }
  &__text{
    text-align: center;
    color: #fff;
    text-shadow: 0px 4px 25px rgba(55, 26, 24, 0.25);
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 13px;
    i{
      font-size: 20px;
    }
  }
  .form-block__label{
    width: 540px;
    margin:0 auto 40px;
  }
  .standart-btn{
    height: 48px;
    width: 280px;
  }
}
@keyframes ease {
  0%,100% {transform:translateX(-50%) scale(1)} 
  50% {transform:translateX(-50%) scale(1.05)}
}

.main{
  /*frts-block*/
  &-frst{
    margin-top: -30px;
    padding: 90px 0 200px 0;
    height: 1080px;
    background: 50% 50% no-repeat;
    overflow: hidden;
    &.active{
      .hint{
        opacity: 1;
        z-index: 2;
        &-block{
          opacity: 1;
          transform: scale(1);
          &__frst{
            transition-delay: 0s , 1s, 1s ;
          }
          &__scnd{
            transition-delay: 0s , 1.3s, 1.3s ;
          }
          &__thrd{
            transition-delay: 0s , 1.6s , 1.6s;
          }
          &__frth{
            transition-delay: 0s , 1.9s , 1.9s;
          }
        }
      }
      .main-frst__text{
        margin-left: -100%;
        opacity: 0;
      }
      .phone-block{
        width: 100%;
        .line-block{
          animation-delay: .3s;
          animation-name: ease;
          animation-duration: 1s;
        }
      }
      .slide-button{
        &:before{
          content:'Назад >';
        }
      }
    }
    .section-title{
      color: #fff;
      text-transform: none;
      margin-bottom: 15px;
    }
    &__content{
      position: relative;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-bottom: 15px;
    }
    &__text{
      width: calc(100% - 407px);
      padding-right: 100px;
      color: #fff;
      padding-top: 70px;
      max-height: 440px;
      overflow: hidden;
      transition: margin .6s , opacity .5s;
      .title{
        font-size: 60px;
        font-weight: 500;
        line-height: 1;
        margin-bottom: 30px;
      }
      p{
        line-height: 28px;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
        font-weight: 500;
      }
      p+p{
        margin-top: 20px;
      }
      q{
        color: #3479a3;
      }
    }
    .slide-button{
      cursor: pointer;
      font-size: 26px;
      font-weight: 700;
      color: #fff;
      transition: color .3s;
      position: absolute;
      left: 0;
      bottom: 65px;
      z-index: 9;
      &:before{
        content:'< С чего начать?';
      }
    }
  }
  /*scnd-block*/
  &-scnd{
    margin-top: -85px;
    &__content{
      margin: 38px 0 0 -40px;
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      .content-card{
        margin:0 0 35px 40px;
        width: calc(25% - 40px);
        &__img{
          border-radius: 20px;
          border:2px solid #8ab1c4;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: auto;
          width: 100px;
          height: 100px;
          margin-bottom: 18px;
          img{
            max-width: 60px;
            max-height: 42px;
          }
        }
        .title{
          text-align: center;
          text-transform: uppercase;
          width: 100%;
          padding: 0 15px;
          font-weight: 700;
          color: #174e6a;
          line-height: 1;
          padding-bottom: 13px;
          position: relative;
          margin-bottom: 13px;
          &:before{
            content:'';
            display: block;
            width: 40px;
            height: 1px;
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            background: #ababab;
          }
        }
        .text{
          text-align: center;
          font-size: 15px;
          line-height: 20px;
        }
      }
    }
  }
  /*thrd-block*/
  &-thrd{
    background: 50% 50% no-repeat;
    height: 720px;
    margin-top: -37px;
    padding: 230px 0;
    .section-title{
      margin-bottom: 40px;
    }
  }
  /*frth-block*/
  &-frth{
    margin-top: -37px;
    .section-title--small{
      margin-bottom: 37px;
    }
    &__content{
      margin: 78px 0 57px 0;
      padding: 0 75px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
  }
  /*fifth-block*/
  &-fifth{
    background: 50% 50% no-repeat;
    height: 920px;
    padding: 450px 0 0 0;
    margin: -245px 0 0 0;
    &__content{
      padding: 0 95px;
    }
  }
}
/*modal*/
.modal{
  &-form{
    padding: 60px;
    background: #fff;
    border-radius: 20px;
    width: 540px;
    margin: auto;
    position: relative;
    &__title{
      font-size: 26px;
      font-weight: 700;
      color: #00658c;
      text-align: center;
      margin-bottom: 47px;
    }
    .standart-btn{
      width: 250px;
    }
  }
  .form-block__label{
    margin-bottom: 30px;
  }
}
@media (min-width: 1025px){
  .header-list__item ,.hint-block{
    &:hover{
      color: #1d9ae5;
    }
  }
  .header-authentication__link{
    &:hover{
      background-color:#ff9e27;
    }
  }
  .slide-button{
    &:hover{
      color:#eaeaea;
    }
  }
}